[Unit]
Description=NCID client using the Page Module
Documentation=man:ncid-page(1)
Wants=ncidd.service
After=ncidd.service

[Service]
Type=simple
PIDFile=/run/ncid-page.pid
ExecStart=/usr/bin/ncid --no-gui --pidfile /run/ncid-page.pid -P ncid-page

[Install]
WantedBy=multi-user.target
