[Unit]
Description=NCID OBi gateway
Documentation=man:obi2ncid(1)
Wants=ncidd.service
After=ncidd.service

[Service]
Type=simple
PIDFile=/run/obi2ncid.pid
ExecStart=/usr/bin/obi2ncid --pidfile /run/obi2ncid.pid

[Install]
WantedBy=multi-user.target
