[Unit]
Description=YAC to NCID Gateway
Documentation=man:yac2ncid(1)
Wants=ncidd.service
After=ncidd.service

[Service]
Type=simple
PIDFile=/run/yac2ncid.pid
ExecStart=/usr/bin/yac2ncid -p /run/yac2ncid.pid

[Install]
WantedBy=multi-user.target
